.blog-box {
    grid-row: box-s/box-e;
    grid-column: box-s/box-e;
    align-content: center;

    height: 10rem;
    width: 10rem;
    border: .15rem solid $color-purple;
    border-radius: 2.2rem;

    color: $color-purple;

    display: grid;
    justify-items: center;
    grid-template-rows: [s] 8.1rem [m] 2.3rem [e];
    grid-template-columns: [s] 1fr [e];

    &__day {
        align-self: end;
        font-size: 2rem;
        line-height: 7rem;
        margin-bottom: 1rem;

        grid-row: s/m;
        grid-column: s/e;
    }

    &__month-year {
        align-self: start;
        font-size: 1.2rem;
        line-height: 2.3rem;

        grid-row: m/e;
        grid-column: s/e;
    }

    &__point {
        height: 2rem;
        width: 2rem;
        background-color: white;
        grid-row: s/e;
        grid-column: s/e;

        justify-self: end;
        align-self: center;

        transform: translateX(52%) rotate(45deg);

        border: .15rem solid $color-purple;
        border-bottom: none;
        border-left: none;
    }
}