.sign-in {
    grid-row: content-s/content-e;
    grid-column: content-s/content-e;
}

.sign-in-form {
    display: grid;
    grid-template-columns: [input-s] 1fr [input-m] 1fr [input-e];
    justify-items: center;

    &__title {
        width: 100%;
        margin-top: 6rem;
        grid-column: input-s/input-e;
    }
    &__email {
        margin-top: 5.6rem;
        grid-column: input-s/input-m;
    }
    &__password {
        margin-top: 5.6rem;
        grid-column: input-m/input-e;
    }
    &__login {
        margin-top: 7.5rem;
        grid-column: input-s/input-e;
    }
    &__text-links {
        margin-top: 4.8rem;
        grid-column: input-s/input-e;
    }
}