.sign-up {
    grid-row: content-s/content-e;
    grid-column: content-s/content-e;
}

.sign-up-form {
    display: grid;
    grid-template-columns: [input-s] 1fr [input-m] 1fr [input-e];
    justify-items: center;

    &__title {
        width: 100%;
        margin-top: 6rem;
        grid-column: input-s/input-e;
    }
    &__fullname {
        margin-top: 5.6rem;
        grid-column: input-s/input-m;
    }
    &__username {
        margin-top: 5.6rem;
        grid-column: input-m/input-e;
    }
    &__address,
    &__email,
    &__confirm-email {
        margin-top: 3.2rem;
        grid-column: input-s/input-m;
    }
    &__phone,
    &__password,
    &__confirm-password {
        margin-top: 3.2rem;
        grid-column: input-m/input-e;
    }
    &__create-account {
        margin-top: 7.5rem;
        grid-column: input-s/input-e;
    }
    &__text-links {
        margin-top: 4.8rem;
        grid-column: input-s/input-e;
    }
}