$color-skyblue: skyblue;
$color-purple: purple;
$color-pink: pink;
$color-magenta: magenta;
$color-gray-F8: #F8F8F8;
$color-light-blue: lightblue;

$font-barlow: 'Barlow';
$font-barlow-cond: 'Barlow Condensed';